html, body, #root {
  width: 100%;
  height: 100%;
}

#root {
  padding: 0;
}

body {
  margin: 0;
}

pre {
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}